<script id="contact-template" type="text/x-handlebars-template">
	<div id="contact" class="ui segment page">
		<h1 class="headerItem">Contact</h1>
		<div id="contactList" class="ui horizontal list">
			<div class="item">
				<i class="gray user icon"></i>
				<div class="content">
					<b class="header">Name</b>
					<div class="description">Austin Stanfield</div>
				</div>
			</div>
			<div class="item">

				<i class="green phone square icon"></i>
				<div class="content">
					<b class="header">Cell Phone Number</b>
					<div class="description">+1 (772)-626-5968</div>
				</div>
			</div>
			<div class="item">
				<i class="blue envelope outline icon"></i>
				<div class="content">
					<b class="header">Email</b>
					<div class="description">Austin@Stanfield.it</div>
				</div>
			</div>
		</div>

		<div id="contactMessageContainer">
			<div id="contactMessage"></div>
			<button id="contactMessageSubmit" class="ui button green fluid">Send Message</button>
		</div>

	</div>
</script>
