<script id="home-template" type="text/x-handlebars-template">
	<div id="home" class="ui segment page">
		<h1 class="headerItem">Brief introduction</h1>
		<p>
			My name is Austin Stanfiled, I have been programming from about the age of 10.
			I started with Java, all self taught without reading much or learning the core concepts.
			It all began with game servers for me. I learned about hosting and networking mainly there.
			From there on I persued Cyber Security and discovered all true securitys start with programming,
			and decided to not continue that path and prioritize programming as my career path. Ever since
			then I have been studying new languages and mastering previous ones, below you will these languages
			and other skills I have learned along the way.
		</p>

		<h1 class="headerItem">Programming Languages & Other Skills Related</h1>
		<div id="skills" class="ui horizontal list">
			<!-- 5 stars -->
			<!-- ******************************************  -->

			<div class="item">
				<img class="ui image first" src="images/css.png">
				<div class="content">
					<div class="header">CSS</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/handlebars.png">
				<div class="content">
					<div class="header">Handlebars</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/html.png">
				<div class="content">
					<div class="header">HTML</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/javascript.png">
				<div class="content">
					<div class="header">Javascript</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/jquery.gif">
				<div class="content">
					<div class="header">jQuery</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/phplogo.png">
				<div class="content">
					<div class="header">PHP</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/semantic_ui_logo.png">
				<div class="content">
					<div class="header">Semantic UI</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/sql_db.png">
				<div class="content">
					<div class="header">SQL</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/svn.png">
				<div class="content">
					<div class="header">SVN</div>
					<div class="ui star rating" data-rating="5" data-max-rating="5"></div>
				</div>
			</div>

			<br>
			<!-- 4 stars  -->
			<!-- ******************************************  -->
			<div class="item">
				<img class="ui image" src="images/crypto.png">
				<div class="content">
					<div class="header long">Blockchain</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/docker.png">
				<div class="content">
					<div class="header">Docker</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/git.png">
				<div class="content">
					<div class="header">GIT</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/linux.png">
				<div class="content">
					<div class="header">Linux</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/nodejs.png">
				<div class="content">
					<div class="header">NodeJS</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/python.png">
				<div class="content">
					<div class="header">Python</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/uiux.png">
				<div class="content">
					<div class="header">UI/UX Design</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/vblogo.png">
				<div class="content">
					<div class="header">Visual Basic</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/Vue.js_Logo.png">
				<div class="content">
					<div class="header">Vue.js</div>
					<div class="ui star rating" data-rating="4" data-max-rating="5"></div>
				</div>
			</div>

			<br>
			<!-- 3 stars -->
			<!-- ******************************************  -->
			<div class="item">
				<img class="ui image" src="images/angular-logo.png">
				<div class="content">
					<div class="header">Angular</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/aspnet.png">
				<div class="content">
					<div class="header">ASP.NET</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/bash.png">
				<div class="content">
					<div class="header">Bash</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/cpplogo.png">
				<div class="content">
					<div class="header">C++</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/csharp.png">
				<div class="content">
					<div class="header">C#</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/java-logo.png">
				<div class="content">
					<div class="header">Java</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/materializecss_logo.png">
				<div class="content">
					<div class="header">Materialize CSS</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/nginx.png">
				<div class="content">
					<div class="header">NGINX</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>
			<div class="item">
				<img class="ui image" src="images/photoshop-logo.png">
				<div class="content">
					<div class="header">Photoshop</div>
					<div class="ui star rating" data-rating="3" data-max-rating="5"></div>
				</div>
			</div>

			<br>
			<!-- 2 stars -->
			<!-- ******************************************  -->
			<div class="item">
				<img class="ui image" src="images/apache.png">
				<div class="content">
					<div class="header">Apache</div>
					<div class="ui star rating" data-rating="2" data-max-rating="5"></div>
				</div>
			</div>

			<!-- This name is large try an keep it at the end -->
			<div class="item">
				<img class="ui image" src="images/adobe_animate_cc.png">
				<div class="content">
					<div class="header">Adobe Animate</div>
					<div class="ui star rating" data-rating="2" data-max-rating="5"></div>
				</div>
			</div>

			<br>
			<!-- 1 stars -->
			<!-- *********************************** -->
			<div class="item">
				<img class="ui image" src="images/golang.jpeg">
				<div class="content">
					<div class="header">Golang</div>
					<div class="ui star rating" data-rating="1" data-max-rating="5"></div>
				</div>
			</div>

			<div class="item">
				<img class="ui image" src="images/haskell.png">
				<div class="content">
					<div class="header">Haskell</div>
					<div class="ui star rating" data-rating="1" data-max-rating="5"></div>
				</div>
			</div>

		</div>

		<h1 class="headerItem">Education</h1>
		<div id="education" class="ui middle aligned divided list">
			<div class="item">
				<i class="graduation cap icon"></i>
				<div class="content">
					<span class="header">Computer Information Technology, Associate in Science Degree</span>
					<div class="description">Awarded in <span><b>May 2018</b></a></div>
				</div>
			</div>
			<div class="item">
				<i class="certificate yellow icon"></i>
				<div class="content cert">
					<span class="header">Computer Programming Specialist, Technical Certificate</span>
					<div class="description">Awarded in <span><b>December 2017</b></span></div>
				</div>
			</div>
			<div class="item">
				<i class="certificate yellow icon"></i>
				<div class="content cert">
					<span class="header">Computer Information Data Specialist, Technical Certificate</span>
					<div class="description">Awarded in <span><b>May 2017</b></span></div>
				</div>
			</div>
			<div class="item">
				<i class="certificate yellow icon"></i>
				<div class="content cert">
					<span class="header">Web Production, Technical Certifcate</span>
					<div class="description">Awarded in <span><b>May 2018</b></span></div>
				</div>
			</div>
		</div>
	</div>
</script>
