<script id="previous_work-template" type="text/x-handlebars-template">
	<div id="previous_work" class="ui segment page">
		<h1 class="headerItem">Previous work</h1>

		<div id="tableImageViewerContainer"></div>

		<div class="tableImageViewer">
			<module>EmployeeInfoChange</module>
			<moduleImage>images/previous_work/EmployeeInfoChange/reic_address.png</moduleImage>
			<moduleImageCount>11</moduleImageCount>
			<moduleHeader>Employee Information Change Request</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> I was the developer & designer who created all of Employee Information Change Request in its current starte
				originally all the requests were bundled up and not able to be requested invididually as well as complicated to navigate.
				We needed to add the ability to select individual requests and I ended up completly scrapping the old system and creating what
				we have today with a fully integrated tier approval system for each request, once a request is approved it is then automatically applied
				to the softwares data. Example: If you change your Address it will change the Human Resources profile we have of you and what Address we have there.
			</moduleDescription>
		</div>

		<div class="tableImageViewer">
			<module>TimeAndAttendance</module>
			<moduleImage>images/previous_work/TimeAndAttendance/clocked_out.png</moduleImage>
			<moduleImageCount>11</moduleImageCount>
			<moduleHeader>Time & Attendance</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Developed & Designed the portal block for Time & Attendance as well as built the entire structure behind Time & Attendance,
				Also will be integrating the system with our Payroll system to process the Timecards. Developed some reports as well to be used with the Time & Attendance
				system.
			</moduleDescription>
		</div>

		<div class="tableImageViewer">
			<module>SchoolDepartment</module>
			<moduleImage>images/previous_work/SchoolDepartment/school_department_1.png</moduleImage>
			<moduleImageCount>7</moduleImageCount>
			<moduleHeader>School Department Payroll</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Developed & Designed a Payroll system to be able to be used at a manager level for each school in the district. This allowed
				customers to create a manager at a school to file their own payroll records and then the district can then move them into their district level
				payroll system and process the records.
			</moduleDescription>
		</div>

		<div class="tableImageViewer">
			<module>LeaveHistory</module>
			<moduleImage>images/previous_work/LeaveHistory/leave_history_1.png</moduleImage>
			<moduleImageCount>4</moduleImageCount>
			<moduleHeader>Leave History</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Developed & Designed a leave history information system for our Employee Self Service module.
				This allows each employee to access their leave history, leave balance, pending leave, and also view their accrued leave
				without having to ask their HR department or anyone. It will always be open for them to view at any time they would like.
			</moduleDescription>
		</div>


		<div class="tableImageViewer">
			<module>UserPreference</module>
			<moduleImage>images/previous_work/UserPreference/user_preference.png</moduleImage>
			<moduleHeader>User Preference</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Developed & Designed a ERP/Finance only preference system. We have a user preference level in Focus already
				however this was to be mainly used outside of our ERP and Finance area. These preferences work along side the normal user preference system
				but are targeted towards ERP/Finance areas.
			</moduleDescription>
		</div>

		<div class="tableImageViewer">
			<module>PositionControl</module>
			<moduleImage>images/previous_work/PositionControl/position_lookup_available.png</moduleImage>
			<moduleHeader>Position Control</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Developed a counter system for our Position Control screen to display how many hours or units are still
				available to be assigned or if more positions need to be authroized.
			</moduleDescription>
		</div>

		<div class="tableImageViewer">
			<module>LoadingBlocks</module>
			<moduleImage>images/previous_work/LoadingBlocks/loading_blocks.png</moduleImage>
			<moduleHeader>Loading Blocks</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Setup the first Loading portal blocks, to set an example for future blocks. This particular block
				created an insane login time for bigger school districts and cut the time down into a few seconds using a loading method with AJAX.
			</moduleDescription>
		</div>

		<div class="tableImageViewer">
			<module>Calendar</module>
			<moduleImage>images/previous_work/Calendar/calendar_1.png</moduleImage>
			<moduleHeader>Calendar</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Created an interactive and resizeable Calendar
				module that can be used anywhere and loaded with any data, as of making this description we have
				plans to intergrate the calendar with google/microsoft. This calendar also support scheduling and
				has saved Focus thousand's of dollars every month that they would of paid to integrate with another company
			</moduleDescription>
		</div>

		<div class="tableImageViewer">
			<module>LeaveBankTransfer</module>
			<moduleImage>images/previous_work/LeaveBankTransfer/pic_1.png</moduleImage>
			<moduleHeader>Leave Bank/Transfer</moduleHeader>
			<moduleDescription>
				<b>Focus School Software:</b> Leave Bank/Transfer is a standard utility used in Florida
				School districts, this tool allows a ton of people to contribute to a huge leave balance
				and then create a documented request to retreive from the leave bank. This tool is super helpful and
				safe for when an employee may run into an unexpected emergency and need to take more time off then expected.
			</moduleDescription>
		</div>
	</div>


</script>
